{% extends "base.html" %}

{% block title %} Session and Cookies {% endblock %}

{% block content%}

        <h1>Session and Cookies</h1>
        <p><strong>Message:</strong> {{ message }}</p>
        <a href="{{ url_for('home') }}">Home</a> <br>
        <a href="{{ url_for('set_session_data') }}">Set Session Data</a> <br>
        <a href="{{ url_for('get_session_data') }}">Get Session Data</a> <br>
        <a href="{{ url_for('clear_session_data') }}">Clear Session Data</a> <br>

        <a href="{{ url_for('set_cookie') }}">Set Session Cookie</a> <br>
        <a href="{{ url_for('get_session_cookie') }}">Get Session Cookie</a> <br>
        <a href="{{ url_for('clear_session_cookie') }}">Clear Session Cookie</a> <br>
        <a href="{{ url_for('login') }}">Login Here</a> <br>

{% endblock %}
